.container-recipe{
    max-width: 500px;
    margin: auto;
}

a{
    text-align: center;
    width: 100%;
    text-decoration: none;
    display: block;
    color: midnightblue;
    margin: 10px;
    font-weight: 300;
}
h2{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}
.showrecipe{
    text-align: center;
    margin-top: 40px;
}
.showrecipe img{
width: 100%;
    border-radius: 30px;
}
.showrecipe .description{
    text-align: left;

}